.App {
 
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(238, 238, 238, 0.418);
}
.App .Header{
  padding: 10px 5px;
  display: flex;
  border-bottom: 1px solid #EEE;
}
::placeholder{
  opacity: .5;
}
.App .Header input{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding-left: 10px;
  width: 100%;
  border: none;
}
.App .Header input:focus{
  outline: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
